{% trans_default_domain 'FOSUserBundle' %}


<div class="fos_user_user_show vertical-align">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Profil</h1>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordered table-hover table-centered">
                        <thead>
                            <tr>
                                <th class="text-center">{{ 'Utilisateur'|trans }}</th>
                                <th class="text-center">{{ 'Adresse email'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn" id="accueil" name="i_name"><a href="/">Retour à l'accueil</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
