/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
app/DoctrineMigrations/
bower_components/
node_modules/
tests/BirdBundle/
web/assets/
.idea/*
web/js/*compiled*
web/dist
web/lib/GoogleApi-compiled-compiled.js
web/lib/GoogleApi-compiled-compiled.js.map
webpack.config-compiled.js
webpack.config-compiled.js.map
webpack.dev-server-compiled.js
webpack.dev-server-compiled.js.map