/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/copyright/
.idea/workspace.xml
app/DoctrineMigrations/
bower_components/
node_modules/
tests/BirdBundle/
web/assets/
.idea/
web/dist/bundle-compiled-compiled.js
web/dist/bundle-compiled-compiled.js.map
web/js/GeoCoding-compiled-compiled.js
web/js/GeoCoding-compiled-compiled.js.map
web/js/GetBirdsDatas-compiled-compiled.js
web/js/GetBirdsDatas-compiled-compiled.js.map
web/js/JsonToGEOJson-compiled-compiled.js
web/js/JsonToGEOJson-compiled-compiled.js.map
web/js/Markers.react-compiled.js
web/js/Markers.react-compiled.js.map
web/js/app.react-compiled-compiled.js
web/js/app.react-compiled-compiled.js.map
web/js/map.react-compiled-compiled.js
web/js/map.react-compiled-compiled.js.map
web/js/searchBirds-compiled-compiled.js
web/js/searchBirds-compiled-compiled.js.map
web/lib/GoogleApi-compiled-compiled.js
web/lib/GoogleApi-compiled-compiled.js.map
webpack.config-compiled.js
webpack.config-compiled.js.map
webpack.dev-server-compiled.js
webpack.dev-server-compiled.js.map
