{% if app.user %}
    <a id="logoNavbar" href={{ path("fos_user_security_logout") }}><i class="fa fa-sign-out fa-2x" aria-hidden="true"><div class="hidden-xs deconnexion"> Déconnexion</div></i></a>
{% else %}
    <a id="logoNavbar" href={{ path("fos_user_security_login") }}><i class="fa fa-sign-in fa-2x" aria-hidden="true"><div class="hidden-xs connexion"> Connexion</div></i></a>
{% endif %}