<!DOCTYPE html>
<html>

{% block head %}
    <meta charset="UTF-8"/>

    <title>{% block title %}NAO{% endblock %}</title>

    {% block stylesheets %}
        {{ include('assets/stylesheet.html.twig') }}
    {% endblock %}

{% endblock %}


<body>
{{ include('header/header.html.twig') }}

<div>
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}
    {{ include('assets/javascript.html.twig') }}
{% endblock %}

</body>
</html>
