<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style type="text/css">
                html, body { height: 100%; margin: 0; padding: 0; }
                #map { height: 100%; }
            </style>
            <script type="text/javascript"
                                       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFroHBrDo8zJfboSR3r5Z_YWnLv9HEaxw">
            </script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script>
                {# set a base url to '/' or maybe '/app_dev.php' #}
                window.baseUrl = '{{ path('bird') }}';
            </script>
            {% if app.environment == 'dev' %}
            <script src="http://127.0.0.1:3000/static/bundle.js"></script>
            {% else %}
            <script src="{{ asset('dist/bundle.js') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
