<!DOCTYPE html>
<html>
    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}NAO{% endblock %}</title>
        {% block stylesheets %}
        {{ include('stylesheet.html.twig') }}
        {% endblock %}
    {% endblock %}
    <body>
        <div id="fullpage">
        {% block body %}
        {% endblock %}
        </div>
    </body>
        {% block javascripts %}
            {{ include('javascript.html.twig') }}
        {% endblock %}
</html>
