{% extends 'base.html.twig' %}

{% block title %}Administration - {{ parent() }} {% endblock %}

{% block body %}
    <div id="dashboard">
        <h1>Gestion des membres</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Naturalistes</h1>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordered table-condensed table-centered">
                        <thead>
                            <tr>
                                <th class="text-center">Email</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">Rétrograder</th>
                                <th class="text-center">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a id="demoteUser"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a></td>
                                <td><a id="deleteUser"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <h1>Observateurs</h1>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordered table-condensed table-centered">
                        <thead>
                            <tr>
                                <th class="text-center">Email</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">Promouvoir</th>
                                <th class="text-center">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a id="promoteUser"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a></td>
                                <td><a id="deleteUser"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}