{% if app.user %}
<a href="/logout" target="" ><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
{% else %}
<a href="/login" target="" ><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
{% endif %}