{% if app.user %}
    <a href={{ path("fos_user_security_logout") }}><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
{% else %}
    <a href={{ path("fos_user_security_login") }}><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
{% endif %}