{% if app.user %}
<<<<<<< HEAD
    <a href="/logout" ><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
{% else %}
    <a href="/login" ><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
=======
<a href="/deconnexion" target="" ><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
{% else %}
<a href="/connexion" target="" ><i id="connexion" class="fa fa-user fa-2x" aria-hidden="true"></i></a>
>>>>>>> 0650d9fcb4dedc3139811208204fb73a82c55764
{% endif %}