{% extends 'base.html.twig' %}


{% block body %}
    <div id="Map"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/app.react.js') }}"></script>
{% endblock %}