{% extends 'base.html.twig' %}


{% block body %}
    <div id="map"></div>
    <div id="datas"></div>
    <div id="content"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/babel">
        var Birds = JSON{{ birds|raw }};
        export default Birds;
    </script>

{% endblock %}