{% extends 'base.html.twig' %}


{% block body %}
    <div id="map"></div>
    <div id="datas"></div>
    <div id="content"></div>
    <div class="jsondatas">
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}