{% extends 'base.html.twig' %}


{% block body %}
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 100%; }
    </style>
    <div id="app"></div>
    <div id="map">
    </div>
    <script>
        function initMap() {
            myLatLng = { lat: -34.397, lng: 150.644 }
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: true,
                zoom: 8 });
            var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: ''

        });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFroHBrDo8zJfboSR3r5Z_YWnLv9HEaxw&callback=initMap" async defer></script>
{% endblock %}