{% extends 'base.html.twig' %}


{% block body %}
    <div id="fullpage">

        <!--CONTACT-->
        <div class="section"  id="section4">
            <div class="slide">
                <h2>Inscription</h2>
                <div class="" id="c_form_mail">
                    <input name="i_name" type="text" value="" placeholder="Entrez votre nom et prénom" />
                    <input name="i_name" type="text" value="" placeholder="Votre date de naissance" />

                    <input name="i_email" type="email" value="" placeholder="Entrez votre e-mail" />
                    <input name="i_name" type="password" value="" placeholder="Mot de passe" />
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">

                                <button class="btn btn-primary">Je m'inscris</button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>


    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}