{% extends 'base.html.twig' %}

{% block title %}Dernières observations{% endblock %}

{% block body %}
<div class=" container-fluid panel panel-default target">
        <div class="panel-body">
            <div class="row">
                {% for bird in birds %}
                    <div class="observation col-lg-4 col-md-4 col-xs-6 col-sm-6">
                        <div class="thumbnail">
                            <img class="borderRadius img-responsive" src="{{ asset('uploads/images') ~ '/' ~ bird.image }}">
                            <div class="text-center"><a>voir sur la carte <i class="fa fa-eye" aria-hidden="true"></i></a></div>
                        </div>
                        <div class=" champs text-center">
                            <div id="nomObs" >Observateur: {{ bird.username }}</div>
                            <div id="nomOiseau">Nom de l'oiseau : {{ bird.nomVern }}</div>
                        </div>
                        <div class="borderRadius no_padding panel-footer">
                            <div class="date col-lg-6 col-md-6 col-xs-6 col-sm-6 text-center">
                                <div id="dateObs">01/12/16</div>
                            </div>
                            <div id="delete" class=" no_padding col-lg-2 col-md-2 col-xs-2 col-sm-2 text-center">
                                <button id="deleteBtn" class=" btn"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
                            </div>
                            <div class="download no_padding col-lg-4 col-md-4 col-xs-4 col-sm-4 text-center">
                                <button class="download btn"><i class="fa fa-download fa-2x" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}

