{% extends 'base.html.twig' %}
{% block body %}
<div class=" container-fluid panel panel-default target">
        <div class="panel-body">
            <div class="row">

            </div>
        </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://use.fontawesome.com/57214ed58f.js"></script>
{% endblock %}