{% extends 'base.html.twig' %}

{% block body %}
    <div id="fullpage">
        <!--HOME-->
        <div class="section active" data-anchor="firstPage" id="section0">
            <div class="container">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 panel panel-default">
                    <div class="panel-body">

                        Panel content
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 panel panel-default">
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 panel panel-default">
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 panel panel-default">
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 panel panel-default">
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 panel panel-default">
                    <div class="panel-body">
                        Panel content
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}

