{% extends base.html.twig %}

<ul>
    <li class="current first">
        <a href="#/nouvelle_observation">Espéces observées</a>
    </li>
    <li class="current_ancestor">
        <a href="#bird_default_observations/">Dernières observations</a>
    <li class="current first last">
        <a href="#route_to/edit_profile">Se déconnnecter</a>
    </li>
</ul>

