{% extends base.html.twig %}

<ul>
    <li class="current first">
        <a href="/">Accueil</a>
    </li>
    <li class="current_ancestor">
        <a href="new_observation.html.twig">Observations</a>
    <li class="current_ancestor">
        <a href="fos_user_registration_register">Se déconnnecter</a>
    </li>
    <li class="current_ancestor">
        <a href="#route_to/edit_profile">Se déconnnecter</a>
    </li>
    <li class="current_ancestor">
        <a href="/logout">Se déconnnecter</a>
    </li>
</ul>

