{% extends 'base.html.twig' %}


{% block body %}
    <div id="fullpage">
        <!--HOME-->

        <!--CONTACT-->
        <div class="section" data-anchor="" id="section4">
            <div class="slide">
                <h2>J'ai oublié mon mot de passe</h2>
                <div class="" id="c_form_mail">

                    <input id="input_top" name="i_email" type="email" value="" placeholder="Entrez votre e-mail" />
                    <input id="input-bottom" name="i_email" type="email" value="" placeholder="Confirmez votre e-mail" />
                    <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">

                            <button class="btn btn-primary">Envoyer le mot de passe!</button>
                        </div>
                    </div>
                </div>



                </div>
        </div>


    </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}