{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block formTitle %}<h1>Inscrivez-vous</h1>{% endblock %}
{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}


