{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block formTitle %}<h1>Mot de passe oublié</h1>{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}
