{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Création de groupe{% endblock %}
{% block formTitle %}<h1>Création de groupe</h1>{% endblock %}
{% block fos_user_content %}
    {% include "FOSUserBundle:Group:new_content.html.twig" %}
{% endblock fos_user_content %}
