<div id="thumbnail-preview-indicators" class="carousel carousel-fade slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
                <div class="thumbnail">
                    <img class="img-responsive" alt="oiseauSurBranche" src="{{ asset('images/blossom_petit.jpg') }}">
                </div>
            </li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
                <div class="thumbnail">
                    <img class="img-responsive" alt="volOiseaux" src="{{ asset('images/cranes_petit.jpg') }}">
                </div>
            </li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
                <div class="thumbnail">
                    <img class="img-responsive" alt="paon" src="{{ asset('images/peacock_petit.jpg') }}">
                </div>
            </li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item slides active">
                <div class="slide-1"></div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
            </div>
        </div>
</div>