@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'lobster';
    src: url('../fonts/Lobster and Cabin/lobster/lobster.eot');
    src: url('../fonts/Lobster and Cabin/lobster/lobster.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lobster and Cabin/lobster/lobster.woff') format('woff'),
    url('../fonts/Lobster and Cabin/lobster/lobster.ttf') format('truetype'),
    url('../fonts/Lobster and Cabin/lobster/lobster.svg#lobster') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/Lobster and Cabin/cabin/cabin-regular-webfont.eot');
    src: url('../fonts/Lobster and Cabin/cabin/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lobster and Cabin/cabin/cabin-regular-webfont.woff') format('woff'),
    url('../fonts/Lobster and Cabin/cabin/cabin-regular-webfont.ttf') format('truetype'),
    url('../fonts/Lobster and Cabin/cabin/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: cabinregular;
    margin:0 !important;
    background-color: #A5C700;
    min-height: 200px;
    padding: 0 !important;
}

*{
    margin:0;
    padding: 1px;
    text-decoration:none;
    border:none;
    text-rendering: optimizeLegibility;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

h1{
    color: #7E7F79;
    text-align: center;
    font-family: 'lobster', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    display: block;
    width: 40%;
    margin: auto auto 20px;
    line-height: 1.1;
    min-width: 360px;
}

h2{
    font-family: 'lobster', cursive;
    color: #7E7F79;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    display: block;
    width: 100%;
    opacity: 0;
    transition:0.3s cubic-bezier(.49,.32,.36,1.56);
    margin: 40px auto 20px;
}

.section.fp-completely h2{
    opacity: 1;
    margin-top: 0;
}

h3{
    font-family: 'cabinregular', cursive;
    color: #7E7F79;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: block;
    width: 100%;
    opacity: 1;
    transition:0.3s cubic-bezier(.49,.32,.36,1.56);
    margin: 5px auto 10px;
}

h4{
    font-family: 'lobster', cursive;
    color: #7E7F79;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: block;
    width: 30%;
    margin: auto;
    line-height: 1;
    min-width: 360px;
}

h5{
    font-family: 'lobster', cursive;
    color: #7E7F79;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: block;
    width: 100%;
    line-height: 1.2;
    opacity: 0;
    transition:0.2s ease-in;
    transition-delay: 0.2s;
    margin: 40px auto auto;
}


span
{
    font-family: 'lobster', sans-serif;
    font-weight: 900;
    font-size: inherit;
}


.section.fp-completely h5{
    opacity: 1;
    margin-top: 0;
}

#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: -33px;
    left: 0;
    z-index: 90;
}
#header a{

    display: block;
    height: 100%;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #d0fb00;
    text-transform: uppercase;
    font-family: 'cabinregular', sans-serif;
    text-decoration: none;
}

/*noinspection ALL*/
#header #c_logo{
    height: 100%;
    width: 120px;
    background-size: 50%;
    background: no-repeat center;
    float: left;
}

/*noinspection ALL*/
#header #c_link_beta{
    height: 100%;
    float: right;
}

/*noinspection ALL*/
@media only screen  {
    /*noinspection ALL*/
    #header #c_logo {
        width: 110%;
    }
}

/*noinspection ALL*/
@media only screen and (max-width: 1024px) {
    /*noinspection ALL*/
    #header #c_logo {
        width: 115%;
    }
}

/*noinspection ALL*/
@media only screen and (max-width: 768px){
    /*noinspection ALL*/
    #header #c_logo {
        width: 120%;
    }
}

/*noinspection ALL*/
@media only screen and (max-width: 640px) {
    /*noinspection ALL*/
    #header #c_logo {
        width: 124%;
    }
}

/*noinspection ALL*/
@media only screen and (max-width: 480px) {
    /*noinspection ALL*/
    #header #c_logo {
        width: 135%;
    }
}





.button{
    height: 54px;
    width: 160px;
    position: relative;
    margin: 50px auto;
    cursor: pointer;
    font-family: 'cabinregular', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #A5C700;
    text-transform: uppercase;
    text-align: center;
    line-height: 54px;
    transition:0.2s cubic-bezier(.49,.32,.36,1.56);
    transition-delay: 0.4s;
    opacity: 0;
    transform: scale(0.5);
}

.section.fp-completely .button{
    opacity: 1;
    transform: scale(1);
}



.button a,
#buton_nl input{
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'cabinregular', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #7E7F79 !important;
    text-transform: uppercase;
    text-align: center;
    line-height: 54px;
    position: absolute;
    background-color: transparent !important;
    outline: none;
    border: none;
    transition: 0.2s ease-in;
    cursor: pointer;
}





.section .c_illus .window{
    transform-origin: bottom center;
    opacity: 0;
    transform: scale(0.8);
    transition:0.4s cubic-bezier(.49,.32,.36,1.56);
}

.section.fp-completely .c_illus .window{
    opacity: 1;
    transform: scale(1);
}






#section3 h2{

    text-align: center;
    margin-top: -5%;
}

#section3 .button{

    font-family: 'cabinregular', cursive;
}

#c_form_mail{
    width: 400px;
    margin: auto;
}

#submit
{
    margin-top: 20px;
    margin-bottom: 20px;

}

#c_form_mail input,
#c_form_mail textarea{
    display: block;
    height: 60px;
    width: calc(100% - 60px);
    border: none;
    outline: none;
    margin-bottom: 2px;
    background-size: 15px;

    background: #fbfbfb no-repeat 22px center;
    font-family: "cabinregular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    transition:0.4s cubic-bezier(.49,.32,.36,1.56);
    opacity: 0;
}

#c_form_mail input[name="i_name"]{
    transition-delay: 0.1s;
    background-image: url("../icons/user.svg");
    background-size: 22px;
    margin-left: 30px;
}

#c_form_mail input[name="i_email"]{
    background-image: url("../icons/envelope.svg");
    background-size: 22px;
    transition-delay: 0.2s;
    margin-left: 30px;
}

#c_form_mail input[name="i_date"]{
    background-image: url("../icons/calendar.svg");
    background-size: 22px;
    transition-delay: 0.2s;
    margin-left: 30px;
}

#c_form_mail input[name="i_pwd"]{
    background-image: url("../icons/keywords.svg");
    background-size: 22px;
    transition-delay: 0.2s;
    margin-left: 30px;
}

#upload{
    transition-delay: 0.3s;
    margin-left: 30px;
    margin-right: 30px;
}

/*noinspection ALL*/
.custom_btn
{
    width: 48%;
}

/*noinspection ALL*/
#first_btn
{
    margin-right: 2%;
}





#c_form_mail textarea{
    height: calc(100% - 166px);
    margin-left: 30px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    resize: none;
    transition-delay: 0.3s;
}

/*noinspection ALL*/
#c_lb_email{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
}

/*noinspection ALL*/
#c_lb_email.open{
     left: 0;
 }

#c_lb_email h5{
    color: #fbfbfb;
    opacity: 1;
    text-align: center;
}

/*noinspection ALL*/
#lb_conf_email{
    position: absolute;
    height: 300px;
    width: 500px;
    background-color: #fbfbfb;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    transition:0.4s cubic-bezier(.49,.32,.36,1.56);
    opacity: 0;
}

/*noinspection ALL*/
#c_lb_email.open #lb_conf_email{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/*noinspection ALL*/
.overlay{
    position: absolute;
    background-color: #40442C;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in;
}

/*noinspection ALL*/
#c_lb_email.open .overlay{
    opacity: 0.5;
}




.section.fp-completely #c_form_mail input,
.section.fp-completely #c_form_mail textarea{
    opacity: 1;
    padding-left: 60px;
}

/*noinspection ALL*/
#connexion {
    vertical-align: top;
    position: absolute;
}

/*noinspection ALL*/
#hamburger {
    margin-top: 27px;
    float: left;
    margin-left: 30px;
}

#title {
    font-size: x-large !important;
    vertical-align: text-top;

}

/*first page map*/
#birds {

    height: 100%;
    margin: 60px auto auto;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input#input-search{
    font-family: cabinregular;
    margin-bottom: 10px;
    width: 80% !important;
    margin-left: 10% !important;
    border-radius: 5px !important;
    box-shadow: 10px 5px 18px #7E7F79 !important;
}

#birds > div > div:nth-child(2)

{
    box-shadow: 10px 5px 18px #7E7F79;
    height: 85% !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*border-radius*/

html.fa-events-icons-ready.fp-enabled body.fp-viewing-secondPage div#fullpage.fullpage-wrapper div#section1.section.left_layout.container-fluid.fp-section.fp-table.active.fp-completely div.fp-tableCell div#birds div#test div div.gm-style div div div div{
    height: 150px;
    line-height: 1.35 !important;
    white-space: nowrap !important;
    color: #40442C;
}

html.fa-events-icons-ready.fp-enabled body.fp-viewing-secondPage div#fullpage.fullpage-wrapper div#section1.section.left_layout.container-fluid.fp-section.fp-table.active.fp-completely div.fp-tableCell div#birds div#test div div.gm-style div div div div div.gm-style-iw div div div{
    overflow: hidden;
}

.gm-style
{
    border-radius: 10px;
}

#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    background-size: cover;
    background: no-repeat center center;
}
#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1,
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    height: 480px;
}
#thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(http://localhost:8000/images/blossom.jpg);
}
#thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(http://localhost:8000/images/cranes.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(http://localhost:8000/images/peacock.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
    top: 20%;
    bottom: inherit;
    color: #d0fb00;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
    position: relative;
    width: 100px;
    height: 8px;
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    position: absolute;
    top: 0;
    width: 100px;
    display: none;
    opacity: 0;
    left: 50%;
    margin-top: -80px;
    margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active:hover > .thumbnail
{
    display: block;
    opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail
{
    display: none;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
    opacity: 1;
}

@media screen and (max-width : 480px) {
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
        width: 50px;
        height: 8px;
        position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
        width: 50px;
        left: 50%;
        margin-top: -50px;
        margin-left: -25px;
    }
}

.carousel-indicators{
    bottom: 75%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
    color: #d0fb00;
    width: 30%;
}

span.glyphicon.glyphicon-chevron-left{
    margin-left: 35px !important;
}

span.glyphicon.glyphicon-chevron-right{
    margin-right: 35px !important;
}

.carousel-inner {
    width: 80% !important;
    margin: auto;
}

.carousel-control:hover
{
    opacity: 0.3 !important;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}




.carousel .item {
    border-radius: 10px;
    background-color: rgba(0,0,0,0);

    overflow: hidden;

}
.carousel-control {
    border-radius: 10px;

}
/*background*/

#section0 {
    background-color: #A5C700;
}

#section1{
    background-color: #9BB22C;
}

#section3{
    background-color: #9BB22C;
}


/*dernières observations*/

.thumbnail
{
    border-radius: 10px 10px 0 0;
    border: 2px solid #7E7F79;
    box-shadow: 10px 5px 18px #888888 !important;
    border-bottom: 0;
}

.champs
{
    border:2px solid #7E7F79;
    background-color: white;
    box-shadow: 10px 5px 18px #888888 !important;
    border-top-width: 0;
    text-align: center;
    width: 100% !important;
    padding:0 !important;
}

.panel-body
{
    background-color: transparent;
}

.border
{
    border: 2px solid black;
    border-radius: 10px;
}

.thumbnail
{
    margin-bottom: 0;
}

.no_padding
{
    padding-left: 0;
    padding-right: 0;
}

.margin
{
    margin-right: 1%;
    margin-left: 1%;
}

.panel
{
    Background-color: transparent;

}

.panel-footer
{
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
    height: 43px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: 2px solid #7E7F79;
    border-top-width: 0;

}

#validate_bird_supprimer, #validate_bird_valider
{
    height: 100%;
    width:25%;
}

#validate_bird_valider
{
    border-radius: 0 0 10px 0;
}

.download {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-color: #A5C700;
    border-bottom-right-radius: 10px;
    height: 100%;
    border-left: 1px solid #7E7F79;
}
#delete
{
    height: 50%;
    width:80%;
}

#deleteBtn
{
    width: 100%;
    border-radius: 0;
}

.fa-trash-o
{
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
    transform: translateY(-10%);
}

.observation
{
    margin-top: 30px;
}

.panel-body
{
    margin-top: 55px;
    padding-bottom: 12px;
}

#nomObs, #nomOiseau
{
    border-top: 2px solid #7E7F79;
}

.date
{
    height:100% !important;
    border-right: 2px solid #7E7F79 !important;
    background-color: white !important;
    border-bottom-left-radius: 10px !important;
}

#dateObs
{
    position: relative;
    top: 50%;
    transform: translateY(-40%);
}

/*noinspection ALL*/
#panel_obs
{
    margin-top: 60px;
}



.roudedShadow
{
    border-radius: 10px !important;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 10px !important;
}

.borderRadius
{
    border-radius: 10px;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
    .fa-2x {
        font-size: 1em !important;
    }
    #delete, #download
    {
        height:100%;
    }
    .download, #deleteBtn
    {
        height: 100%;
    }
}



/*nouvelles observations*/

/*noinspection ALL*/
#lat_lng{
    display: none;
}
#birds{
    width: 60%;
    margin: auto;
    height: 60%;
}

div.container{
    width: 62%;
    margin-top: 2%;
}

#fullpage > form:nth-child(2)
{
    height: 800px;;
}

select
{
    width: 75%;
    border-radius: 5px;
}

.add-on
{
    border-right: 0 !important;
}


#datePicker
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
}

/*noinspection ALL*/
#birds_image
{
    display: inline;
    width:50%;
    float: right;
}

#birds_nom
{
    width: 50%;
    float: right;
}



input.btn:nth-child(4)
{
    width: 100%;
    background-color: #9BB22C;
}

.margin-top
{
    margin-top: 55px;
}

#add_bird
{
    margin: auto !important;
    width: 60%;
    height: 60%;
}

#corps
{
    margin-top: 100px;
    float: none;
}

#bodyHeight
{
    height: 600px;
}

/*noinspection ALL*/
input#form_longitude
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 10px 5px 18px #888888 !important;
}

/*noinspection ALL*/
input#form_latitude
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
    box-shadow: 10px 5px 18px #888888 !important;
}

label
{
    width: 25%;
}

input
{
    width: 75%;
}



html.fa-events-icons-failed body div#map_height div#observation.section.container-fluid div#add_bird div div
{
    margin-bottom: 55px;
}

#add_bird > div > div:nth-child(1) > p
{
    margin-top: 5px;
}

#add_bird > div > div:nth-child(2)
{
    height: 680px !important;
    position: static !important;
}

#add_bird > div > div:nth-child(1) > input
{
    width: 100% !important;
}

#add_bird > div:nth-child(1)
{
    border-radius: 10px; !important;
    height: 95% !important;

}



@media all and (max-width: 640px){
    .panel-right
    {
        left:5px;
    }

    .panel-left
    {
        right: 5px;
    }
}

/*register page*/

#fos_user_registration_form_username
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px !important;
    box-shadow: 10px 5px 18px #888888 !important;
}

#fos_user_registration_form_plainPassword_first
{
    margin-top: 10px;
}

#fos_user_registration_form_plainPassword_second
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    box-shadow: 10px 5px 18px #888888 !important;
}

#submit_register, #changePasswordSubmit
{
    margin-top: 30px;
    padding: 0 !important;
}

#c_form_mail > form > div.text-center > label:nth-child(7)
{
    width: 100%;
}

/*profile page*/

#accueil
{
    margin-top: 20px;
}



/*change-pwd page*/

#fos_user_change_password_form_current_password
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px !important;
    box-shadow: 10px 5px 18px #888888 !important;
}

#fos_user_change_password_form_plainPassword_second
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    box-shadow: 10px 5px 18px #888888 !important;
}

#c_form_mail > form > div.text-center > label
{
    width: 100%;
}

/*login page*/

#username
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px !important;
    box-shadow: 10px 5px 18px #888888 !important;
}

#password
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
    box-shadow: 10px 5px 18px #888888 !important;

}

#username, #password
{
    width: 100% !important;
    opacity: 1 !important;
}

#remember_me
{
    width: 100% !important;
    padding-left: 0;
    opacity:1 !important;
    height: 20px !important;

}

#_submit
{
    opacity:1 !important;
    padding-left: 0 !important;
    width:100% !important;
}

.btn{
    box-shadow: 10px 5px 18px #888888 !important;
    width:100%;
    background-color: inherit;
}

#oubli
{
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

#inscription
{
    margin-top: 20px;
}

/*infowindow styles*/

/*noinspection ALL*/
#infoNom #infobox #infoNomValide {
    font-family: 'cabinregular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: black;
    margin: 1px;
    border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
/*dropdown menu*/

nav {
    padding: 50px;
    text-align: center;
}
nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #a0b39c;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
nav > ul > li {
    float: left;
    width: 150px;
    height: 64px;
    line-height: 65px;
    right: 50px;
    bottom: 20px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #d0fb00;
    cursor: pointer;
    border-right: solid thin #7E7F79;
}
nav > ul > li > i {
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
nav > ul > li:hover {

    color: #d0fb00;
    opacity: 0.9;
}
nav > ul > li:hover > i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
nav > ul > li:hover > ul.drop-menu li {
    display: block;
}
nav > ul > li:last-child {
    border-right: none;
    width: 100%;
}






ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}
ul.drop-menu li {
    background: #7E7F79;
    color: #d0fb00;
    border-bottom: solid thin #595959;
    display: none;
}
ul.drop-menu li:hover {
    background: #40442c;
}
ul.drop-menu li:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}

li:hover > ul.drop-menu.menu-1 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu-1 li {
    opacity: 0;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
    -webkit-animation-name: menu-1;
    animation-name: menu-1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
    -webkit-animation-name: menu-1;
    animation-name: menu-1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
    -webkit-animation-name: menu-1;
    animation-name: menu-1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
    -webkit-animation-name: menu-1;
    animation-name: menu-1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
    -webkit-animation-name: menu-1;
    animation-name: menu-1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(6) {
    -webkit-animation-name: menu-1;
    animation-name: menu-1;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes menu-1 {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg) translateY(20px);
        transform: rotateY(-90deg) translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateY(0);
        transform: rotateY(0deg) translateY(0);
    }
}
@keyframes menu-1 {
    0% {
        opacity: 0;
        -webkit-transform: rotateY(-90deg) translateY(20px);
        transform: rotateY(-90deg) translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateY(0);
        transform: rotateY(0deg) translateY(0);
    }
}
li:hover > ul.drop-menu.menu-2 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu-2 li {
    opacity: 0;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(1) {
    -webkit-animation-name: menu-2;
    animation-name: menu-2;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(2) {
    -webkit-animation-name: menu-2;
    animation-name: menu-2;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 120ms;
    animation-delay: 120ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(3) {
    -webkit-animation-name: menu-2;
    animation-name: menu-2;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 240ms;
    animation-delay: 240ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(4) {
    -webkit-animation-name: menu-2;
    animation-name: menu-2;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(5) {
    -webkit-animation-name: menu-2;
    animation-name: menu-2;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 480ms;
    animation-delay: 480ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(6) {
    -webkit-animation-name: menu-2;
    animation-name: menu-2;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
@-webkit-keyframes menu-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes menu-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
li:hover > ul.drop-menu.menu-3 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu-3 li {
    opacity: 0;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(1) {
    -webkit-animation-name: menu-3;
    animation-name: menu-3;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(2) {
    -webkit-animation-name: menu-3;
    animation-name: menu-3;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 120ms;
    animation-delay: 120ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(3) {
    -webkit-animation-name: menu-3;
    animation-name: menu-3;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 240ms;
    animation-delay: 240ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(4) {
    -webkit-animation-name: menu-3;
    animation-name: menu-3;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(5) {
    -webkit-animation-name: menu-3;
    animation-name: menu-3;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 480ms;
    animation-delay: 480ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-3 li:nth-child(6) {
    -webkit-animation-name: menu-3;
    animation-name: menu-3;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
@-webkit-keyframes menu-3 {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(30px);
        transform: skewX(-20deg) translateX(30px);
    }
    70% {
        -webkit-transform: skewX(10deg) translateX(-10px);
        transform: skewX(10deg) translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: skewX(0deg) translateX(0);
        transform: skewX(0deg) translateX(0);
    }
}
@keyframes menu-3 {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(30px);
        transform: skewX(-20deg) translateX(30px);
    }
    70% {
        -webkit-transform: skewX(10deg) translateX(-10px);
        transform: skewX(10deg) translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: skewX(0deg) translateX(0);
        transform: skewX(0deg) translateX(0);
    }
}
li:hover > ul.drop-menu.menu-4 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu-4 li {
    opacity: 0;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(1) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(2) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 120ms;
    animation-delay: 150ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(3) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 240ms;
    animation-delay: 240ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(4) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(5) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 480ms;
    animation-delay: 480ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-4 li:nth-child(6) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
@-webkit-keyframes menu-4 {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(30px);
        transform: skewX(-20deg) translateX(30px);
    }
    70% {
        -webkit-transform: skewX(10deg) translateX(-10px);
        transform: skewX(10deg) translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: skewX(0deg) translateX(0);
        transform: skewX(0deg) translateX(0);
    }
}
@keyframes menu-4 {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-20deg) translateX(30px);
        transform: skewX(-20deg) translateX(30px);
    }
    70% {
        -webkit-transform: skewX(10deg) translateX(-10px);
        transform: skewX(10deg) translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: skewX(0deg) translateX(0);
        transform: skewX(0deg) translateX(0);
    }
}
li:hover > ul.drop-menu.menu-5 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu-5 li {
    opacity: 0;
}
li:hover > ul.drop-menu.menu-5 li:nth-child(1) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
}
li:hover > ul.drop-menu.menu-5 li:nth-child(2) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 120ms;
    animation-delay: 150ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
}
li:hover > ul.drop-menu.menu-5 li:nth-child(3) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 240ms;
    animation-delay: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
}
li:hover > ul.drop-menu.menu-5 li:nth-child(4) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 360ms;
    animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-5 li:nth-child(5) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 480ms;
    animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-5 li:nth-child(6) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 600ms;
    animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
@-webkit-keyframes menu-5 {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-30deg) translateX(40px);
        transform: skewX(-30deg) translateX(40px);
    }
    80% {
        -webkit-transform: skewX(10deg) translateX(-10px);
        transform: skewX(10deg) translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: skewX(0deg) translateX(0);
        transform: skewX(0deg) translateX(0);
    }
}
@keyframes menu-5 {
    0% {
        opacity: 0;
        -webkit-transform: skewX(-30deg) translateX(40px);
        transform: skewX(-30deg) translateX(40px);
    }
    80% {
        -webkit-transform: skewX(10deg) translateX(-10px);
        transform: skewX(10deg) translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: skewX(0deg) translateX(0);
        transform: skewX(0deg) translateX(0);
    }
}
li:hover > ul.drop-menu.menu-6 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
li:hover > ul.drop-menu.menu-6 li {
    opacity: 0;
}
li:hover > ul.drop-menu.menu-6 li:nth-child(1) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
}
li:hover > ul.drop-menu.menu-6 li:nth-child(2) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
}
li:hover > ul.drop-menu.menu-6 li:nth-child(3) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
}
li:hover > ul.drop-menu.menu-6 li:nth-child(4) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-6 li:nth-child(5) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 600ms;
    animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
li:hover > ul.drop-menu.menu-6 li:nth-child(6) {
    -webkit-animation-name: menu-4;
    animation-name: menu-4;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 750ms;
    animation-delay: 450ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
}
@-webkit-keyframes menu-6 {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
    60% {
        -webkit-transform: rotateX(45deg);
        transform: rotateX(45deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}
@keyframes menu-6 {
    0% {
        opacity: 0;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
    60% {
        -webkit-transform: rotateX(45deg);
        transform: rotateX(45deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}


/*styled table*/

#mytable
{
    width: 1%;
}

.table-centered
{
    margin: 0 auto;
    float: none;
}

.vertical-align
{
    display: flex;
    align-items: center;
    height: 100%;
}

.table-responsive
{
    text-align: center;
}
