@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*style for navbar with knpmenu*/

.navbar-brand {transform: translateX(-50%);left: 50%;position: absolute;}
#logoNavbar {top: 15px;position: absolute;left: 20px;}
.menu {display: inline-flex;}
.navbar {border-radius: 0;}

/*index page*/

#birds > div > div:nth-child(2) {margin-top: 80px; overflow: hidden;}
.gm-style {max-height: 520px;}
/*formulaires*/

body
{background: #f0ffff;font-family: 'Open Sans', sans-serif;}
.formulaire
{ width: 400px;margin: 16px auto;font-size: 16px;}
/* Reset top and bottom margins from certain elements */
.formulaire-header,.formulaire p { margin-top: 0;margin-bottom: 0;}
/* The triangle form is achieved by a CSS hack */
.formulaire-triangle {width: 0;margin-right: auto;margin-left: auto;border: 12px solid transparent;border-bottom-color: #28d;}
.formulaire-header {background: #28d;padding: 20px;font-size: 1.4em;font-weight: normal;text-align: center;text-transform: uppercase;color: #fff;}
.formulaire-container {background: #5f9ea0;padding: 12px;}

.formulaire input {box-sizing: border-box;display: block;width: 100%;border-width: 1px;border-style: solid;padding: 16px;outline: 0;font-family: inherit;font-size: 0.95em;}
.formulaire input[type="email"],.formulaire input[type="password"],.formulaire input[type="text"] {background: #fff;border-color: #bbb;color: #555;}
/* Text fields' focus effect */
.formulaire input[type="email"]:focus, .formulaire input[type="password"]:focus,.formulaire input[type="text"]:focus {  border-color: #888;}
.formulaire input[type="submit"] {background: #28d;border-color: transparent;color: #fff;cursor: pointer;}
.formulaire input[type="submit"]:hover {background: #17c;}
/* Buttons' focus effect */
.formulaire input[type="submit"]:focus {border-color: #05a;}
@media all and (max-width:450px){
    .formulaire {width: 95%;}
    .connexion {font-size: smaller; display: inline-flex; margin: 10px}
    .deconnexion {font-size: smaller; display: inline-flex; margin: 10px}
}

/*navbar breakpoint*/
@media (min-width: 1550px) {
    .connexion {font-size: 1em; display: inline-flex; margin: 10px}
    .deconnexion {font-size: 1em; display: inline-flex; margin: 10px}
}

@media (max-width: 1550px) {
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
    .navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important;margin: 7px -15px;}
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
    .navbar-text {float: none;margin: 15px 0;}
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {display: block!important;}
    .collapsing {overflow: hidden!important;}
    .connexion {font-size: 1em; display: inline-flex; margin: 10px}
    .deconnexion {font-size: 1em; display: inline-flex; margin: 10px}
}

/*observations*/
#add_bird {height: 400px;}
#newBird {margin-top: 2%;}
#birds_image {overflow: hidden;}

/*contribution*/
.observation {margin-bottom: 1%;}
.panel-footer {padding: 0;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
#delete {border: 2px solid cadetblue;border-bottom-left-radius: 4px;}
#download {border: 2px solid cadetblue;border-bottom-right-radius: 4px;}
#bodyHeight {height: 100px;background: cornsilk;}
#member {height: 30%;}
#nomVern {height:70%;}
.thumbnail {background: cadetblue;margin-bottom: 0;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.date {border: 2px solid cadetblue;}
.panel {background-color: #dcdcdc;}

/*infobox*/

#infobox { text-align: center;}

/*button*/

.btn {
    margin-top: 1%;
}
