{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block formTitle %}<h1>Connexion</h1>{% endblock %}

{% block fos_user_content %}
    {% include('FOSUserBundle:Security:login_content.html.twig') %}
{% endblock fos_user_content %}