{% extends 'base.html.twig' %}


{% block title %}NAO{% endblock %}

{% block body %}

<div id="row">
    <div class="formulaire">

{% block fos_user_content %}
{% endblock fos_user_content %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}