{% extends 'base.html.twig' %}


{% block title %}NAO{% endblock %}

{% block body %}
<div id="fullpage">
    <div class="section" data-anchor="" id="section3">
        <div>
            {% block formTitle %}{% endblock%}
            <div class="" id="c_form_mail">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}