{% extends 'base.html.twig' %}


{% block body %}
<div id="fullpage">
    <!--HOME-->

    <!--CONTACT-->
    <div class="section" data-anchor="" id="section4">
        <div class="slide">
            <h2>Se connecter</h2>
            <div class="" id="c_form_mail">
                {{ block('fos_user_content') }}

                <div class="" id="oubli" name="i_name"><a href="/oubli">J'ai oublié mon mot de passe</a></div>



            </div>


        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}