{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Reinitialiser - {{ parent() }}{% endblock %}

{% block formTitle %}<h1>Reinitialiser le mot de passe</h1>{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
